<style>
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<div class="row">
    <div class="col-lg-11 col-xxl-10 mx-auto">
        <div id="appProds">
            <h4>{{ appTitle }}</h4>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1"><label>耗時</label></div>
                        <div class="col-2">
                            <select id="hour_Q" name="hour_Q[]" class="select2" multiple="multiple">
                                <option v-for="hour in uniHour" :value="hour" v-text="hour+'時'"></option>
                            </select>
                            <input type="text" v-model="hour_Q" id="hour_Q_value" style="display: none;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"><label>特性1</label></div>
                        <div class="col-5">
                            <select id="prop1_Q" name="prop1_Q[]" class="select2" multiple="multiple">
                                <option v-for="prop1 in uniProp1" :value="prop1" v-text="prop1"></option>
                            </select>
                            <input type="text" v-model="prop1_Q" id="prop1_Q_value" style="display: none;">
                        </div>
                        <div class="col-1"><label>人氣度</label></div>
                        <div class="col-5">
                            <select id="pop_Q" name="pop_Q[]" class="select2" multiple="multiple">
                                <option v-for="pop in popData" :value="pop.value" v-text="pop.text"></option>
                            </select>
                            <input type="text" v-model="pop_Q" id="pop_Q_value" style="display: none;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"><label>特性2</label></div>
                        <div class="col-5">
                            <select id="prop2_Q" name="prop2_Q[]" class="select2" multiple="multiple">
                                <option v-for="prop2 in uniProp2" :value="prop2" v-text="prop2"></option>
                            </select>
                            <input type="text" v-model="prop2_Q" id="prop2_Q_value" style="display: none;">
                        </div>
                        <div class="col-1"><label>需求</label></div>
                        <div class="col-5">
                            <select id="need_Q" name="need_Q[]" class="select2" multiple="multiple">
                                <option v-for="need in needData" :value="need.value" v-text="need.text"></option>
                            </select>
                            <input type="text" v-model="need_Q" id="need_Q_value" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>


            <div style="position: relative; padding: 5px 0px;">
                <div style="position: absolute; z-index:999;">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary" :disabled="editAll ? '' : disabled"
                        v-on:click="addRow">新增島產品</button> -->
                    <button type="button" class="btn btn btn-outline-secondary" :disabled="editAll ? '' : disabled"
                        v-on:click="resetRawProds">重置所有資料</button>
                        <button type="button" class="btn btn btn-outline-primary" v-if="editAll==''"
                            v-on:click="onEditAll('all')">編輯全部</button>
                    <button type="button" class="btn btn btn-outline-primary" v-if="editAll==''"
                        v-on:click="onEditAll('pop')">編輯人氣度</button>
                    <button type="button" class="btn btn btn-outline-primary" v-if="editAll==''"
                        v-on:click="onEditAll('need')">編輯需要</button>
                    <button type="button" class="btn btn btn-primary" v-if="editAll!=''"
                        v-on:click="onEditAll('')">結束編輯</button>
                </div>
            </div>


            <table id="tbProds" class="display compact">
                <thead>
                    <tr>
                        <th style="max-width: 40px">編號</th>
                        <th style="max-width: auto">島產品</th>
                        <th style="max-width: auto">描述</th>
                        <th style="max-width: 50px">耗時</th>
                        <th style="max-width: 50px">基本價</th>
                        <th style="max-width: 70px">特性1</th>
                        <th style="max-width: 70px">特性2</th>
                        <th style="width: 70px">人氣度</th>
                        <th style="width: 100px">需要</th>
                        <th style="max-width: 120px">加成</th>
                        <th style="max-width: 120px">成本</th>
                        <th style="max-width: 50px">時價</th>
                        <th style="max-width: 50px">時價/h</th>
                        <th style="max-width: 35px">啟用</th>
                        <th style="max-width: 35px">關注</th>
                        <th style="width: 40px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in compProds" :style="(item.mark==true)?'color: red;':''">
                        <td>
                            <input v-if="editAll=='all'" type="text" v-model="item.id">
                            <label v-else v-text="item.id"></label>
                        </td>
                        <td>
                            <input v-if="editing==index || editAll=='all'" type="text" v-model="item.nameJP">
                            <label v-else v-text="item.nameJP"></label>
                        </td>
                        <td>
                            <input v-if="editing==index || editAll=='all'" type="text" v-model="item.desc">
                            <label v-else v-text="item.desc"></label>
                        </td>
                        <td class="td-num">
                            <input v-if="editing==index || editAll=='all'" type="number" min="1" v-model="item.hour">
                            <label v-else v-text="item.hour"></label>
                        </td>
                        <td class="td-num">
                            <input v-if="editing==index || editAll=='all'" type="number" min="0" v-model="item.price">
                            <label v-else v-text="item.price"></label>
                        </td>
                        <td>
                            <input v-if="editing==index || editAll=='all'" type="text" v-model="item.prop1"
                                placeholder="--">
                            <label v-else>{{ (item.prop1=="")? "--" : item.prop1 }}</label>
                        </td>
                        <td>
                            <input v-if="editing==index || editAll=='all'" type="text" v-model="item.prop2"
                                placeholder="--">
                            <label v-else>{{ (item.prop2=="")? "--" : item.prop2 }}</label>
                        </td>
                        <td :data-order="item.popX">
                            <select v-if="editing==index || editAll=='all' || editAll=='pop'" v-model="item.pop">
                                <option v-for="pop in popData" :value="pop.value" v-text="pop.text"></option>
                            </select>
                            <label v-else v-text="item.pop"></label>
                        </td>
                        <td :data-order="item.needX">
                            <select v-if="editing==index || editAll=='all' || editAll=='need'" v-model="item.need">
                                <option v-for="need in needData" :value="need.value" v-text="need.text"></option>
                            </select>
                            <label v-else v-text="item.need"></label>
                        </td>
                        <td>
                            <label>x{{item.popX}} x{{item.needX}}</label>
                        </td>
                        <td class="td-num">
                            <input v-if="editing==index || editAll=='all'" type="number" min="0" v-model="item.cost">
                            <label v-else v-text="item.cost"></label>
                        </td>
                        <td class="td-num">
                            <label v-text="item.priceX"></label>
                        </td>
                        <td class="td-num">
                            <label v-text="item.efficiency"></label>
                        </td>
                        <td>
                            <input type="checkbox" v-model="item.enabled" @change="saveChange" tabindex="-1">
                        </td>
                        <td>
                            <input type="checkbox" v-model="item.mark" @change="saveChange" tabindex="-1">
                        </td>
                        <td>
                            <button v-if="editing == index" type="button" class="btn btn-sm btn-dark" tabindex="-1"
                                :disabled="editAll ? '' : disabled" v-on:click="onEdit(index)">關閉</button>
                            <button v-else type="button" class="btn btn-sm btn-outline-dark" tabindex="-1"
                                :disabled="editAll ? '' : disabled" v-on:click="onEdit(index)">編輯</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="./page.js"></script>
<script>
    $(document).ready(function () {
    })
    Vue.createApp({
        data() {
            return {
                appTitle: "島產品詳細資料",
                editing: null,
                editAll: false,
                hour_Q: "[]",
                prop1_Q: "[]",
                prop2_Q: "[]",
                pop_Q: "[]",
                need_Q: "[]",
                popData: [
                    { value: '大人氣', text: '1-大人氣', times: 1.4 },
                    { value: '人氣', text: '2-人氣', times: 1.2 },
                    { value: '普通', text: '3-普通', times: 1 },
                    { value: '不人氣', text: '4-不人氣', times: 0.8 },
                ],
                needData: [
                    { value: '超供給不足', text: '0-超供給不足', times: 1.6 },
                    { value: '供給不足', text: '1-供給不足', times: 1.3 },
                    { value: '普通', text: '2-普通', times: 1 },
                    { value: '供給過多', text: '3-供給過多', times: 0.8 },
                    { value: '超供給過多', text: '4-超供給過多', times: 0.6 },
                ],
                rawProds: []
            }
        },
        async created() {
            //載入產品資料
            if (localStorage.myRawProds) {
                let myRawProds = JSON.parse(localStorage.myRawProds);
                if (myRawProds.length > 0)
                    this.rawProds = myRawProds;
            }
            else {
                localStorage.myRawProds = JSON.stringify(this.rawProds);
                alert("載入失敗!");
            }
        },
        async mounted() {
            //建立dataTable
            $("#tbProds").dataTable({ paging: false });

            //建立多選物件
            $(".select2").select2({ placeholder: "請選擇..." })
                //綁定事件：將多選的結果寫入隱藏的input欄位
                .on('input', function () {
                    $("#" + $(this).attr("id") + "_value").val(JSON.stringify($(this).val()))[0].dispatchEvent(new CustomEvent('input'));
                });
        },
        computed: {
            rows() {
                return this.rawProds.length
            },
            uniHour() {
                $("#hour_Q").val('').change().select2({ placeholder: "請選擇..." });
                return [...new Set(this.rawProds.map(m => m.hour))].filter(m => m != '');
            },
            uniProp1() {
                $("#prop1_Q").val('').change().select2({ placeholder: "請選擇..." });
                return [...new Set(this.rawProds.map(m => m.prop1))].filter(m => m != '');
            },
            uniProp2() {
                $("#prop2_Q").val('').change().select2({ placeholder: "請選擇..." });
                return [...new Set(this.rawProds.map(m => m.prop2))].filter(m => m != '');
            },
            compProds() {
                console.log('computed compProds');
                return this.rawProds
                    //篩選
                    .filter(m =>
                        (JSON.parse(this.hour_Q).length == 0 || (JSON.parse(this.hour_Q)).includes("" + m.hour))
                        && (JSON.parse(this.prop1_Q).length == 0 || (JSON.parse(this.prop1_Q)).includes("" + m.prop1))
                        && (JSON.parse(this.prop2_Q).length == 0 || (JSON.parse(this.prop2_Q)).includes("" + m.prop2))
                        && (JSON.parse(this.pop_Q).length == 0 || (JSON.parse(this.pop_Q)).includes("" + m.pop))
                        && (JSON.parse(this.need_Q).length == 0 || (JSON.parse(this.need_Q)).includes("" + m.need))
                    )
                    //計算
                    .map((ele, idx) => {
                        ele.popX = (ele.pop) ? this.popData.find(m => m.value === ele.pop).times : 1;
                        ele.needX = (ele.need) ? this.needData.find(m => m.value === ele.need).times : 1;
                        let rawPriceX = (ele.price * ele.popX * ele.needX) - (ele.cost || 0);
                        ele.priceX = this.toFloat2(rawPriceX);
                        ele.efficiency = this.toFloat2(rawPriceX / ele.hour);
                        return ele;
                    });
            }
        },
        watch: {
            rawProds: {
                handler(data) {
                    console.log('watch rawProds');
                    localStorage.myRawProds = JSON.stringify(this.rawProds);
                    setTimeout(() => {
                        $("#tbProds").DataTable().rows().invalidate();
                    }, 800)
                },
                deep: true,
            },
        },
        methods: {
            toFloat2(x) {
                return Number.parseFloat(x).toFixed(2);
            },
            onEdit(idx) {
                this.editing = (this.editing !== idx) ? idx : null;
            },
            onEditAll(type) {
                this.editing = null;
                this.editAll = type;
            },
            resetRawProds() {
                if (window.confirm("確定要重置島產品資料?")) {
                    localStorage.myRawProds = "";
                    window.location.reload();
                }
            },

            // addRow: function (event) {
            //     var newRow = { "id": this.rows + 1, "price": 0 }
            //     this.rawProds.push(newRow);
            //     this.editing = this.rows - 1;
            //     //         id: this.rows + 1,
            //     //         nameJP: "請輸入"
            //     //     };
            //     //     this.rawProds.push(newRow);
            // },
        }
    }).mount('#appProds');
</script>