/* ============ table.dataTable ============ */
/*input寬度100%避免炸版*/
table.dataTable input[type=text],
table.dataTable input[type=number] {
    width: 100%;
}

/*select寬度100%避免炸版*/
table.dataTable select {
    width: 100%;
    height: 30px;
}

/*數字靠右*/
table.dataTable td.td-num {
    text-align: right;
}

/* ============ table.dataTable.compact ============ */
/*標題靠左*/
table.dataTable.compact thead th,
table.dataTable.compact thead td {
    padding-left: 8px !important;
    padding-right: 20px !important;
}

/*checkbox和input文字對齊*/
table.dataTable.compact input[type=checkbox] {
    margin: 5px 0px 0px 6px;
}

/*使表格內的label和input文字對齊*/
table.dataTable.compact th label,
table.dataTable.compact td label {
    padding: 3px 4px;
}

/* ============ select2 ============ */
.select2 {
    width: 100%;
}

.select2-container--default .select2-selection--multiple {
    line-height: 18px;
    border: 1px solid #ced4da;
}

/*input配合select2高度*/
.form-control {
    padding: 3px 0.75rem;
}

/* ============ 其他未分類 ============ */
.btn-justify {
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
}

.card label {
    font-weight: bold;
    padding: 3px 4px 0px 4px;
    color: darkslategray;
}

.form-inline .form-control {
    display: inline-block;
}

/*放大checkbox*/
input[type=checkbox] {
    /* width: 20px;
    height: 20px; */
    transform: scale(1.5);
}

.card .card-body .row {
    margin-bottom: 5px;
}

.card .card-body .row:last-child {
    margin-bottom: 0px;
}

/*內文不換行*/
button,
th,
td {
    white-space: nowrap;
}

small a {
    color: teal;
}

/*====================一般table應急處理===================*/
/*input寬度100%避免炸版*/
table.table input[type=text] {
    width: 100%;
}

table.table input[type=number] {
    width: 100%;
    max-width: 80px;
}

/*select寬度100%避免炸版*/
table.table select {
    width: 100%;
    height: 30px;
    min-width: 100px;
}

/*數字靠右*/
table.table td.td-num {
    text-align: right;
}

table.table td.td-num label {
    padding-right: 14px;
}